In [22]:
import csv
import numpy as np
import pandas as pd

data = pd.read_csv('globalterrorismdb_0718dist.csv', encoding = "ISO-8859-1", low_memory=False)

data.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [24]:
is_France =  data['country_txt']=='France'

data_2002 = data[is_France]
data_2002.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
1301,197205250001,1972,5,25,NaN,0,NaN,69,France,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
1302,197205250002,1972,5,25,NaN,0,NaN,69,France,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
1303,197205250003,1972,5,25,NaN,0,NaN,69,France,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
1304,197205250004,1972,5,25,NaN,0,NaN,69,France,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
1464,197208300001,1972,8,30,NaN,1,8/31/1972,69,France,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN